body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #27293d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.game-container {
    text-align: center;
    padding: 30px;
    background: #2f3147;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 0 20px #00000060;
}

h1 {
    margin-bottom: 25px;
}

.choices button {
    padding: 12px 22px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.choice:hover {
    transform: scale(1.1);
}

.results {
    margin-top: 20px;
}

.scoreboard {
    margin-top: 20px;
}

.reset {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff4757;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}